

/* Small devices (mobile) */
@media (max-width: 600px) {
 

    body{
        /* background-color: red !important; */
    }
    
    .btn {
        padding: 12px 50px !important;
        min-width: initial;
    }

    #cover{
        height: 70vh;
    }

    #cover .col-1 {
        display: flex;
        flex-direction: column;
        justify-content: initial;
        gap: 15px;
        padding-top: 20px;
    }
    #cover .cover-btns li{
        width: 70%;
      }

    #cover .cover-btns{
        flex-direction: column;
        margin-top: -20px;
    }
    #cover .cover-btns li a{
        display: block;
        text-align: center;
    }
    #cover .headline > span > span {
        font-size: 15vw !important;
    }
    .section-head h2{
        text-align:center;
        font-size: 7vw !important;
        line-height: 8vw !important;
    }
    .section-head p{

        text-align: center;
    }

    #cover .tagline {
        font-size: 4vw !important;
        padding-bottom: 0 !important;
    }
    #cover .headline{
        font-size: 6vw;
    }
    /* .btn
    {
        border-radius: 100px;
        padding: 14px 40px;
        border: 2px solid black;
    }
     */

    #sec-2{
        flex-direction: column;
    }
    #sec-2 .left-container,.right-container
    {
        width: 100% !important;
        padding: 0 !important;
    }
    
    .count-section .count-body {
        flex-direction: column; 
    }

    .count-section .count-body .count-1 p{
        font-size: 3rem;
    }
    .count-section .count-body .count-1 span{
        font-size: 2rem;
    }
    .boxes{
        flex-direction: column;
        gap: 50px;
    }

    #sec-4 .col{
        padding: 25px !important;
    }

    #sec-5 .col{
        padding: 0 !important;
    }

    #sec-6 {
        h2 {
            font-size: 2rem !important;
        }
    }

    #sec-testi {
        margin-top: 50px !important;
    }

    .boxes .box-1{
        /* border-bottom: 1px solid black; */
    }
    
    footer .social-media{
        flex-direction: column;
    }

    footer .social-media .col-3:not(:last-child)::after {
        content: "";
        margin-left: 0px;
        background-color:transparent;
    }

    footer .social-media .col-3 {
        text-align: center;
        
    }
    .box-1 {
        text-align: center;
    }
    
}
/* Medium devices (tablet) */
@media (max-width: 768px){
    
    #cover .headline > span > span {
        font-size: 10vw;
        display: block;
        margin-top: 35px;
    }

    #cover .tagline {
        font-size: 2.5vw;
        padding: 20px 0;
    }
    .btn
    {
        border-radius: 100px;
        padding: 18px 50px;
        border: 2px solid black;
    }
    #sec-2{
        flex-direction: column;
    }
    #sec-2 .left-container,.right-container
    {
        width: 100%;
    }
    .count-section .count-body .count-1 p{
        font-size: 5rem;
    }
    .count-section .count-body .count-1 span{
        font-size: 1.4rem;
    }
    
    .section-head p{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1vw;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .section-head h2{
        text-align: center;
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 3.5rem;
        margin-bottom: 10px;
    }
  
    #sec-4 {
        
        .col{
            width: 100%;
        }

        .col:first-child{
            display: none;
        }

    }

    #sec-5 {
        .col{
            width: 100%;
            padding: 100px 50px 0 50px;
        }
        .col:last-child{
            display: none;   
        }
    }
    
    #sec-6{
        gap: 30px;

        h2{
            font-size: 3rem;
        }

        .btn-group{
            margin-top: 10px;
        }

}
/* Large devices (desktop) */
@media (min-width: 1025px) {
    body{
    /* background-color: yellow !important; */
    }
}